<app-principal></app-principal>
<div class="container">
    <h2>Lista de puertos</h2>
    <ul class="list-group">
       <li class="list-group-item">
            <div class="row">
              <div class="col-md-2"><strong>Descripción</strong></div>
            </div>
        </li>
      <li *ngFor="let item of items" class="list-group-item">
        <div class="row">
            <div class="col-md-2">{{ item.descripcion }}</div>
            <div class="col-md-2">
                <button class="btn btn-primary" >Editar</button>
                <button class="btn btn-danger" >Eliminar</button>
              </div>
          </div>
      </li>
    </ul>
  </div>
